certifi==2020.12.5
chardet==4.0.0
click==7.1.2
csvsqlite3==0.1.1
ffmpeg==1.4
idna==2.10
itsdangerous==1.1.0
MarkupSafe==1.1.1
pydub==0.24.1
python-dotenv==0.15.0
requests==2.25.1
simpleaudio==1.0.4
six==1.15.0
urllib3==1.26.4
vk-api==11.9.1
Werkzeug==1.0.1
